REQ-ID:
Description:
Type:
Rationale:
Originator:
Comments: [M814-ModuleChair] Copy this template below to add new requirements.


REQ-ID: EXAMPLE: 001
Description: EXAMPLE DESCRIPTION: some descriptive text here
Type: FUNCTIONAL / NON FUNCTIONAL
Rationale: EXAMPLE RATIONALE: why do we need this capability?
Originator: EXAMPLE ORIGINATOR: Edna Everage
Comments: [Jay Dear EXAMPLE] 


REQ-ID: 001
Description: The product shall identify the owner of a given purchased ticket
Type: Functional
Rationale: To allow the system to ensure that the ticket is valid, the customer returning the ticket actually owns it, and to locate contact/bank details for a refund
Originator: Leslie Patterson
Comments: [Philip Harle]


REQ-ID: 002
Description: The product shall update the ticket record to remove its allocation
Type: Functional
Rationale: To allow the system to make the returned ticket available for purchase again
Originator: Edna Everage
Comments: [Philip Harle]


REQ-ID: 003
Description: The product shall allow only registered users to purchase e-ticket
Type: Functional
Rationale: Optimal user experience and restriction of bots!
Originator: Kate Flown
Comments: [George Moschovitis]


REQ-ID: 004
Description: The product shall keep up to date the seat allocation diagram/map, showing up the exact number and position of (available/booked) seats 
Type: Functional
Rationale: Aiming accurate allocation of seats, elimination of frustrated/unhappy customers resulted the return of ticket  
Originator: Paul Flowers
Comments: [George Moschovitis]