REQ-ID: 001
Description: The product shall identify the owner of a given purchased ticket
Type: Functional
Rationale: To allow the system to ensure that the ticket is valid, the customer returning the ticket actually owns it, and to locate contact details for a refund
Originator: Leslie Patterson
Comments: [Philip Harle]


REQ-ID: 002
Description: The product shall update the ticket record to remove its allocation
Type: Functional
Rationale: To allow the system to make the returned ticket available for purchase again
Originator: Edna Everage
Comments: [Philip Harle]

REQ-ID: 003
Description: The product shall trigger reallocation of tickets that have had their allocation removed every 24hrs.
Type: Functional
Rationale: Functionality that provides the timed interval that trigger reallocation.
Originator: Edna Everage
Comments: [Shane Edwards]

REQ-ID: 004
Description: The product shall allow the ticket(s) to be processed by the ticket reallocation programme.
Type: Functional
Rationale: The users require that a reallocate process be run once every 24 hours to consistently and manageably reallocate tickets.
Originator: Edna Everage
Comments: [Graham Gibbon]

REQ-ID: 005
Description: The product shall list all returned tickets for rellocation
Type: Functional
Rationale: To allow returned tickets to be reallocated every time the rellocation program is triggered
Originator: Edna Everage
Comments: [Gabriel Ajabahian]

REQ-ID: 006
Description: The product shall record the reason why each ticket was returned.
Type: Functional
Rationale: The organisers need to be able to understand the underlying reasons for ticket returns so that they can detect patterns and identify attempted fraud.
Originator:Edna Everage
Comments: [Pete Frost]

REQ-ID: 007
Description: The product shall differentiate returned tickets from available tickets.
Type: Functional
Rationale: The organisers wish to closely control the re-allocation of tickets; they do not want returned tickets to be immediately available to customers.
Originator:Edna Everage
Comments: [Pete Frost]


REQ-ID: 008
Description: The product shall allow one or more tickets to be returned
Type: Functional
Rationale: To enable customer to return ticket(s) they no longer need
Originator: Leslie Patterson
Comments: [Lauren key]


REQ-ID: 009
Description: The product shall send refund data to payment system for processing
Type: Functional
Rationale: To allow the customer to be refunded
Originator: Leslie Patterson
Comments: [Lauren key]

REQ-ID: 010
Description: The product shall allow for automatic ticket reallocation that runs once per day.
Type: Functional
Rationale: Identification of reasons for further analysis, fraud and scam prevention
Originator: Edna Everage
Comments: [Matjaz Trcek]

REQ-ID: 011
Description: The product shall show groups of returns grouped by parameters (place of return/date and time of return/number of returned tickets by customer/number of returned tickets by place/reason).
Type: Functional
Rationale: To detect any patterns that might be emerging to help protect the Games from fraud.
Originator: Edna Everage
Comments: [Jiri Sedlacek]